<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>API Reference</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="content">
        <h1>Add User</h1>
        <div>Add a new user. Requires name, email, and password in the request body.</div>

        <h2><u>Request</u></h2>
        <p><b>POST</b> /v1/add_user</p>
        <p><b>Body - </b> { "name": "String", "e-mail": "String", "password": "Hashed String, MD5" }</p>

        <h2><u>Response</u></h2>
        <p><b>Body - </b>
            {
                "rsp_code": Integer response code,
                "rsp_msg": "String description of rsp"
            }
        </p>
        <p><b>rsp_code - </b> 20(User added)；21(Email already exists)；30(Incorrect params)；31(Missing params)</p>


        <hr/>
        <h1>Get User</h1>
        <div>Retrieve user information using the email provided in the request header.</div>
        <h2><u>Request</u></h2>
        <p><b>GET</b> /v1/get_user</p>
        <p><b>Header - </b> Email of user</p>

        <h2><u>Response</u></h2>
        <p><b>Body - </b>
            {
                “rsp_code”: Integer response code,
                “rsp_msg”: “String description of rsp”,
                “data”: {
                    “name”: “String”,
                    “email”: “String”
                }
            }
        </p>
        <p><b>rsp_code - </b> 20(User fetched)；30(Incorrect params)；31(Missing params)；40(Email not found)</p>


        <hr/>
        <h1>Fix User</h1>
        <div>Update user information. Requires email in the request header and new data in the request body.</div>
        <h2><u>Request</u></h2>
        <p><b>PUT</b> /v1/fix_user</p>
        <p><b>Header - </b> Email of updated user</p>
        <p><b>Body - </b>
            {
                “new_name”: “String, null if no update”,
                “new_e-mail”: ”String, null if no update”,
                “password”: “Hashed String, MD5”
            }
        </p>

        <h2><u>Response</u></h2>
        <p><b>Body - </b>
            {
            "rsp_code": Integer response code,
            "rsp_msg": "String description of rsp"
            }
        </p>
        <p><b>rsp_code - </b> 20(User updated)；30(Incorrect params)；31(Missing params)；40(Email not found)；50(Incorrect password)</p>

        <hr/>
        <h1>Delete User</h1>
        <div>Delete a user. Requires email and password in the request header.</div>
        <h2><u>Request</u></h2>
        <p><b>DELETE</b> /v1/delete_user</p>
        <p><b>Header - </b> Email of deleted user, Password of deleted user</p>

        <h2><u>Response</u></h2>
        <p><b>Body - </b>
            {
            "rsp_code": Integer response code,
            "rsp_msg": "String description of rsp"
            }
        </p>
        <p><b>rsp_code - </b> 20(User deleted)；30(Incorrect params)；31(Missing params)；40(Email not found)</p>
    </div>
</body>
</html>
